@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-patrick-hand: 'Patrick Hand', cursive;
	--app-bg-color: #f4efe6;
}

/* Base Styles & HTML Overrides */
@layer base {
	body {
		min-height: 500px;
	}

	body [data-dialog-content] {
		background-color: var(--app-bg-color);
	}

	/* Universal Button Base Styling */
	button {
		@apply cursor-pointer transition duration-150 hover:scale-105 focus:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 active:scale-95;
	}
}

/* Custom Utility Classes */
@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
